html, body {
    margin:0;
    padding:0;
    font-family: $PrimaryFont;
}

img {
    max-width: 100%;
    
}

main {
    background-color: #f4f4f4;
    width:100%;
}


//General button styling
button {
    border: 2px solid black;
    outline: 0;
    padding: 12px;
    color: Black;
    background-color: white;
    text-align: center;
    cursor: pointer;
    width: 70%;
    font-size: 18px;
    border-radius: 30px;
   
        &:hover {
            opacity: 0.5;
        }
    
}
