html, body {
    margin:0;
    padding:0;
}
//The top menu
.nav {
    display: grid;
    min-height: 100px;
    grid-auto-flow: column; 
    grid-gap: 20px;
    padding-left: 20px;
    padding-right: 20px;

    .nav--logo {
        display: grid;
        justify-content:start ;
        align-content: center;
        font-size: 15px;
    }
    .nav--Links {
        display: grid;
        justify-content:end ;
        align-content: center;
        grid-auto-flow: column;
        grid-gap: 70px;
        a {
            text-decoration: none;
            color: black;
            &:hover {
                opacity: 0.5;
            } 
        }
    }
}

//Frontpage Image
.container {
    background-color: #F4F4F4;
}
.Top--Image {
    position: relative;
    text-align: left;
}
.centered {
    position: absolute;
    top: 50%;
    left: 25%;
    transform: translate(-50%, -50%);
    color: White;
    font-size: 25px;
}


//Frontpage products
.NewProducts{
    height: 600px;
    background-color: #F4F4F4;
    display: grid;
    grid-auto-flow: row;
    h1 {
        text-align: center;
    }

    .product--card {
        max-width: 300px;
        margin: auto;
        text-align: center;
        font-family: arial;
        h1 {
            font-size: 23px;
        }
        button {
            border: 2px solid black;
            outline: 0;
            padding: 12px;
            color: Black;
            background-color: white;
            text-align: center;
            cursor: pointer;
            width: 70%;
            font-size: 18px;
            border-radius: 30px;
        }
    }
}

//Placeholder names for the last sections of the frontpage for now
.MiddleSection{
    height: 600px;
    background-color: white;
}
.BottomSection{
    height: 600px;
    background-color: #F4F4F4;
}
.footer {
    height: 150px;
    background-color: white;
}