@import 'variables';
@import 'partial';


//The top menu
.nav {
    display: grid;
    min-height: 100px;
    grid-auto-flow: column; 
    grid-gap: 20px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: white;

    .nav--logo {
        display: grid;
        justify-content:start ;
        align-content: center;
        font-size: 15px;
    }
    .nav--Links {
        display: grid;
        justify-content:end ;
        align-content: center;
        grid-auto-flow: column;
        grid-gap: 70px;
        a {
            text-decoration: none;
            color: black;
            &:hover {
                opacity: 0.5;
            } 
            i {
                font-size: 20px;
                padding-left: 15px;
            }
        }
    }
}

//Frontpage Image
.MainImage {
    background-color: #F4F4F4;
    width: 100%;
}
.Top--Image {
    position: relative;
    text-align: left;
    background-color: #F4F4F4;
}
.centered {
    position: absolute;
    top: 50%;
    left: 25%;
    transform: translate(-50%, -50%);
    color: White;
    font-size: 25px;
}


//Frontpage products
.wrapper {
    background-color: #F4F4F4;
    text-align: center;
}
.NewProducts{
    height: 600px;
    background-color: #F4F4F4;
    display: grid;
    padding-right: 20%;
    padding-left:20% ;
    h1 {
        text-align: center;
        grid-column: 2;
        
    }

    .product--card {
        
        max-width: 300px;
        grid-row-start: 6;
        grid-row-end: 12;
        margin: auto;
        padding-bottom: 15%;

        text-align: center;
        font-family: arial;
        h2 {
            font-size: 23px;
        }
        button {
            border: 2px solid black;
            outline: 0;
            padding: 12px;
            color: Black;
            background-color: white;
            text-align: center;
            cursor: pointer;
            width: 70%;
            font-size: 18px;
            border-radius: 30px;
           
                &:hover {
                    opacity: 0.5;
                }
            
        }
    }
}

input[type=text], select, textarea {
    width: 100%; 
    padding: 12px; 
    border: 1px solid #ccc; 
    border-radius: 4px; 
    box-sizing: border-box; 
    margin-top: 6px; 
    margin-bottom: 16px; 
    resize: vertical 
  }
  
  /* Style the submit button with a specific background color etc */
  input[type=submit] {
    background-color: white;
    color: Black;
    padding: 12px 20px;
    border: 2px solid gray;
    
    border-radius: 4px;
    cursor: pointer;
  }
  
  /* When moving the mouse over the submit button, add a darker green color */
  input[type=submit]:hover {
    opacity: 0.5;
  }
  
  /* Add a background color and some padding around the form */
  .container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
  }


//Placeholder names for the last sections of the frontpage for now

.Frontpage--Gallery{
    height: 600px;
    background-color: #F4F4F4;
}


.About-wrapper {
    height: auto;
    background-color: white;
    display: flex;
    flex-direction: column;
    padding: 20px 50px 50px 20px;
    text-align: center;
    h1 {
        color: black;
    }
    p {
       margin-left: 30%;
       margin-right: 30%;
        text-align: center;
    }
}

.Product {
    background-color: #F4F4F4;
    .Product--content {
        display: flex;
        flex-direction: row;
        .Product--Content--Image {
            margin: 50px;
        }
        .product--content--details {
            h1 {
                margin-bottom: 20px;;
            }
            margin: 50px;
            button {
                margin-left: 10px;
                width: 150px;
                height: 50px;
                
                
            }
            .desc {
                padding-right: 500px;
            }
            input {
                width: 50px;
                height: 45px;
                
            }
        }

        .product--content--related {
            margin-top: 125px;
            
            img {
                padding-right: 50px;
            }
        }
        
    }

}
footer {
display: flex;
flex-direction: column;
height: auto;
background-color: rgb(77, 77, 77);
padding-bottom: 20px;
padding-top: 20px;
margin-right: 10%;
width:100%;
color: white;
.footer {
    
    display: grid;
    grid-template-columns: (12) ;
    grid-template-rows: (1) ;
    width: 100%;
    a {
        text-decoration: none;
        color: white;
        
    }



        .contact {
            grid-row: 1;
            grid-column: 2;
            h4 {
                font-weight: normal;
            }
            p {
                &:hover {
                    opacity: 0.5;
                }
            }
            i {
                padding-right: 15px;
                font-size: 25px;
                color: white;

            }
            
        }
        .Information {
            grid-row: 1;
            grid-column: 3;
            
        }

        .links {
            grid-row: 1;
            grid-column: 4;
            p {
                &:hover {
                    opacity: 0.5;
                }
            }
        }
       
    }    
}



