
@import 'variables';
@import 'partial';
@import 'responsive';

//The top menu
.nav {
    display: grid;
    min-height: 100px;
    grid-auto-flow: column; 
    grid-gap: 20px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: white;

    .nav--logo {
        display: grid;
        justify-content:start ;
        align-content: center;
        font-size: 15px;
    }
    .nav--Links {
        display: grid;
        justify-content:end ;
        align-content: center;
        grid-auto-flow: column;
        grid-gap: 70px;
        @media only screen and (max-width: 930px) {
            display: none;
        }
        a {
            text-decoration: none;
            color: black;
            &:hover {
                opacity: 0.5;
            } 
            i {
                font-size: 20px;
                padding-left: 15px;
            }
        }
    }
    
}

//Frontpage Image
.MainImage {
    background-color: #F4F4F4;
    max-width: 100%;
    height: auto;
    img {
        width: 100%;
        height: 800px;
        @media only screen and (max-width: 856px) {
            height: 600px
        }
    }
}
.Top--Image {
    position: relative;
    text-align: left;
    background-color: #F4F4F4;
}
.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: green;
    font-size: 25px;
    filter: brightness(50%);
}


//Frontpage products
.wrapper {
    background-color: #F4F4F4;
    text-align: center;
}
.NewProducts{
    height: auto;
    background-color: #F4F4F4;
    display: grid;
    padding-right: 20%;
    padding-left:20% ;
    padding-bottom: 5%;
    @media only screen and (max-width: 1000px) {
        display: flex;
        flex-direction: column;
}
    h1 {
        text-align: center;
        grid-column: 2;
        
    }

    .product--card {
        
        max-width: 300px;
        grid-row-start: 6;
        grid-row-end: 12;
        margin: auto;
        padding-bottom: 15%;

        text-align: center;
        font-family: arial;
        h2 {
            font-size: 23px;
        }
        button {
            border: 2px solid black;
            outline: 0;
            padding: 12px;
            color: Black;
            background-color: white;
            text-align: center;
            cursor: pointer;
            width: 70%;
            font-size: 18px;
            border-radius: 30px;
           
                &:hover {
                    opacity: 0.5;
                }
            
        }
    }
}

input[type=text], select, textarea {  
    width: 100%; 
    padding: 12px; 
    border: 1px solid #ccc; 
    border-radius: 4px; 
    box-sizing: border-box; 
    margin-top: 6px; 
    margin-bottom: 16px; 
    resize: vertical 
  }
  
  /* Style the submit button with a specific background color etc */
  input[type=submit] {
    background-color: white;
    color: Black;
    padding: 12px 20px;
    border: 2px solid gray;
    
    border-radius: 4px;
    cursor: pointer;
  }
  
  /* When moving the mouse over the submit button, add a darker green color */
  input[type=submit]:hover {
    opacity: 0.5;
  }
  
  /* Add a background color and some padding around the form */
  .container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
  }


//Placeholder names for the last sections of the frontpage for now


.About-wrapper {
    height: auto;
    background-color: white;
    display: flex;
    flex-direction: column;
    padding: 20px 50px 50px 20px;
    text-align: center;
    h1 {
        color: black;
    }
    p {
       margin-left: 30%;
       margin-right: 30%;
        text-align: center;
        @media only screen and (max-width: 768px) {
            margin-left: 10%;
            margin-right: 10%;
        }
    }
}

.Product {
    background-color: #F4F4F4;
    .Product--content {
        display: flex;
        flex-direction: row;
        .Product--Content--Image {
            margin: 50px;
            img {
                max-width: none;
            }
        }
        .product--content--details {
            h1 {
                margin-bottom: 20px;;
            }
            margin: 50px;
            button {
                margin-left: 10px;
                width: 150px;
                height: 50px;
                
                
            }
            .desc {
                padding-right: 500px;
            }
            input {
                width: 50px;
                height: 45px;
                
            }
        }

        .product--content--related {
            margin-top: 125px;
            
            img {
                padding-right: 50px;
            }
        }
        
    }

}
footer {
display: flex;
flex-direction: column;
height: auto;
background-color: rgb(77, 77, 77);
padding-bottom: 20px;
padding-top: 20px;
margin-right: 10%;
width:100%;
color: white;

.footer {
    
    display: grid;
    grid-template-columns: (12) ;
    grid-template-rows: (1) ;
    width: 100%;
    @media only screen and (max-width: 768px) {
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    a {
        text-decoration: none;
        color: white;
        
    }



        .contact {
            grid-row: 1;
            grid-column: 2;
            h4 {
                font-weight: normal;
            }
            p {
                &:hover {
                    opacity: 0.5;
                }
            }
            i {
                padding-right: 15px;
                font-size: 25px;
                color: white;

            }
            
        }
        .Information {
            grid-row: 1;
            grid-column: 3;
            
        }

        .links {
            grid-row: 1;
            grid-column: 4;
            p {
                &:hover {
                    opacity: 0.5;
                }
            }
        }
       
    }    
}

//Gallery for the frontpage
.Gallery--wrapper {
    text-align: center;
.Frontpage--Gallery {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 5vw);
    grid-gap: 10px;
    padding-left: 15px;
    padding-bottom: 20px;
    background-color: #F4F4F4;
    .gallery--image {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    .gallery--item--1{
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 1;
        grid-row-end: 3;
    }
    .gallery--item--2{
        grid-column-start: 3;
        grid-column-end: 5;
        grid-row-start: 1;
        grid-row-end: 3;
    }
    .gallery--item--3{
        grid-column-start: 5;
        grid-column-end: 9;
        grid-row-start: 1;
        grid-row-end: 6;
    }
    .gallery--item--4{
        grid-column-start: 1;
        grid-column-end: 5;
        grid-row-start: 3;
        grid-row-end: 6
    }
    .gallery--item--5{
        grid-column-start: 1;
        grid-column-end: 5;
        grid-row-start: 6;
        grid-row-end: 9;
    }
    .gallery--item--6{
        grid-column-start: 5;
        grid-column-end: 9;
        grid-row-start: 6;
        grid-row-end: 9;
    }
}
}

//The page showing the book overview
.products {
    background-color: #f4f4f4;
    text-align: center;
    .products--title {
        h1, h4 {
            text-align: left;
            padding-left: 6%;
        }
    }
    hr {
        color: black;
        width: 95%;
        margin-bottom: 3%;
    }
    
    
    .products--overview {
       display: flex;
       flex-wrap: wrap;
        
       .product--card {
        max-width: 300px;
        text-align: center;
        font-family: arial;
        padding: 4%;
        flex-grow: 1;
        flex-basis: 16%;
        img {
            max-width: 100%;
        }

        
        h1 {
            font-size: 23px;
        }
        button {
            border: 2px solid black;
            outline: 0;
            padding: 12px;
            color: Black;
            background-color: white;
            text-align: center;
            cursor: pointer;
            width: 70%;
            font-size: 18px;
            border-radius: 30px;
           
                &:hover {
                    opacity: 0.5;
                }
        }
    }
    
    }
}
//end

//About page start
.About {
    height: auto;
    .About--content {
    display: flex;
    flex-direction: row;
    @media only screen and (max-width: 768px) {
        flex-direction: column;
        text-align: center;
    }
        .About--content--image {
            margin: 50px;
            height: auto;
            
            img {
                width:500px; 
                height:600px;
                max-width: 500px;
                @media only screen and (max-width: 768px) {
                    max-width: 100%;
                }
            
            } 
        }
        .About--content--details {
           padding-bottom: 5%;
        }
    }
}

