@import 'variables';
@import 'partial';


//General Button style

main {
    background-color: #F4F4F4;
}
//The top menu
.nav {
    display: grid;
    min-height: 100px;
    grid-auto-flow: column; 
    grid-gap: 20px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: white;

    .nav--logo {
        display: grid;
        justify-content:start ;
        align-content: center;
        font-size: 15px;
    }
    .nav--Links {
        display: grid;
        justify-content:end ;
        align-content: center;
        grid-auto-flow: column;
        grid-gap: 70px;
        a {
            text-decoration: none;
            color: black;
            &:hover {
                opacity: 0.5;
            } 
        }
    }
}

//Frontpage Image
.container {
    background-color: #F4F4F4;
}
.Top--Image {
    position: relative;
    text-align: left;
    background-color: #F4F4F4;
}
.centered {
    position: absolute;
    top: 50%;
    left: 25%;
    transform: translate(-50%, -50%);
    color: White;
    font-size: 25px;
}


//Frontpage products
.wrapper {
    background-color: #F4F4F4;
    text-align: center;
}
.NewProducts{
    height: 600px;
    background-color: #F4F4F4;
    display: grid;
    padding-right: 20%;
    padding-left:20% ;
    h1 {
        text-align: center;
        grid-column: 2;
        
    }

    .product--card {
        
        max-width: 300px;
        grid-row-start: 6;
        grid-row-end: 12;
        margin: auto;
        padding-bottom: 15%;

        text-align: center;
        font-family: arial;
        h1 {
            font-size: 23px;
        }
        button {
            border: 2px solid black;
            outline: 0;
            padding: 12px;
            color: Black;
            background-color: white;
            text-align: center;
            cursor: pointer;
            width: 70%;
            font-size: 18px;
            border-radius: 30px;
           
                &:hover {
                    opacity: 0.5;
                }
            
        }
    }
}

//Placeholder names for the last sections of the frontpage for now
.MiddleSection{
    height: 600px;
    background-color: white;
}
.BottomSection{
    height: 600px;
    background-color: #F4F4F4;
}

.Product {
    background-color: #F4F4F4;
    .Product--content {
        display: flex;
        flex-direction: row;
        .Product--Content--Image {
            margin: 50px;
        }
        .product--content--details {
            h1 {
                margin-bottom: 20px;;
            }
            margin: 50px;
            button {
                margin-left: 10px;
                width: 150px;
                height: 50px;
                
                
            }
            .desc {
                padding-right: 500px;
            }
            input {
                width: 50px;
                height: 45px;
                
            }
        }

        .product--content--related {
            margin-top: 125px;
            
            img {
                padding-right: 50px;
            }
        }
        
    }

}
.footer {
    height: 150px;
    background-color: white;
}


