

//The page showing the book overview
.products {
    background-color: #f4f4f4;
    text-align: center;
    .products--title {
        h1, h4 {
            text-align: left;
            padding-left: 6%;
        }
    }
    hr {
        color: black;
        width: 95%;
        margin-bottom: 3%;
    }
    
    
    .products--overview {
       display: flex;
       flex-wrap: wrap;
       
       .product--card {
        max-width: 300px;
        text-align: center;
        font-family: arial;
        padding: 4%;
        flex-grow: 1;
        flex-basis: 16%;
        img {
            max-width: 100%;
        }

        
        h1 {
            font-size: 23px;
        }
        button {
            border: 2px solid black;
            outline: 0;
            padding: 12px;
            color: Black;
            background-color: white;
            text-align: center;
            cursor: pointer;
            width: 70%;
            font-size: 18px;
            border-radius: 30px;
           
                &:hover {
                    opacity: 0.5;
                }
        }
    }
    
    }
}
//end
